<div class="calendar row m-0 px-2">

    <!--  Calendar Header (Sticky) -->
    <div class="calendar-header sticky">
        <div class="calendar-header-seasons d-flex">
            <div class="calendar-header-season horizontal-sticky col" *ngFor="let item of seasons;">{{ item }}</div>  
        </div>
        <div class="calendar-header-months d-flex">
            <div class="calendar-header-month col"  *ngFor="let item of months; index as monthIdx"
                                                    [style.zIndex]="monthIdx"
            >
                {{ item }}
            </div>  
        </div>

        <div class="calendar-header-weeks d-flex">
            <div class="calendar-header-week week-size-col col p-0" *ngFor="let item of [].constructor(weeks); index as index"
                                                                    [style.min-width.px]="colSize"
            >
                {{ index+1 }}
            </div>
        </div>

        <div class="calendar-header-month-length d-flex">
            <month-length   *ngFor="let item of [].constructor(12); index as index" class="d-block"
                            [year]="year" 
                            [month]="index"
            >
            </month-length>
        </div>
    </div>


    <!--  Calendar Body -->
    <div class="calendar-body row d-flex flex-nowrap">

        <!--  Vertical header (Sticky) -->
        <div class="calendar-activities-header horizontal-sticky flex-with-gap">
            <div class="calendar-activity-header vertical-sticky"   *ngFor="let type of types; index as index"
                                                                    css-var="calendar-activities-header:get:width"
                                                                    [disableVar]="index > 0"
                                                                    [ngClass]="'activity-type-' + type.code"
                                                                    [style.min-height.px]="colSize * (type.data?.large ? 5:2)"
            >
                {{ type.name }}
            </div>
        </div>

        <!-- Activities per Week -->
        <div class="calendar-activity-group week-size-col col p-0"  *ngFor="let week of [].constructor(weeks); index as weekIdx"
                                                                    [style.min-width.px]="colSize"
        >
            <div class="calendar-placeholders flex-with-gap">
                <div class="calendar-placeholder"   *ngFor="let type of types; index as typeIdx"    
                                                    [ngClass]="'activity-type-' + type.code"
                                                    [style.min-height.px]="colSize * (type.data?.large ? 5:2)"
                                                    [class.has-activity]="(activities!|findxv2:[{key:'startWeek',value:weekIdx+1},{key:'activityTypeId',value:type.id}]) != undefined"
                >

                    <!--  Week with Activities -->
                    <div    class="calendar-activity-list"
                            *ngIf="activities!|findxv2:[{key:'startWeek',value:weekIdx+1},{key:'activityTypeId',value:type.id}]:true as items"
                    >
                            <ng-container *ngFor="let item of items; index as activityIdx">
                                <calendar-activity  [activity]="item" class="calendar-activity"
                                                    [class.custom-size]="item.fillColor?.length || item.color?.length"
                                                    [style.background-color]="item.fillColor"
                                                    [style.width.px]="(item.endWeek - item.startWeek) * colSize - 4"
                                                    (onClick)="activityClicked($event)"
                                                    [colSize]="colSize"
                                >
                                </calendar-activity>
                            </ng-container>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

    <!--  Zoom control -->
    <calendar-zoom  [level]="zoomLevel"
                    (onChange)="zoomChanged($event)"
    >
    </calendar-zoom>
</div>