<div    [style.max-width.px]="colSize - 10" class="calendar-product" 
        [style.max-height.px]="isNarrow ? colSize * .7:null"
>
    <ng-container *ngIf="(product.assets|findx:'angle':'main') as asset">
        <img [src]="asset?.cached?.['jpg__256'] ?? asset.url" class="img-fluid">
    </ng-container>
    <div class="product-attribute name" [style.font-size.px]="colSize / 14" [title]="product?.name">{{ product?.name }}</div>
    <div class="product-attribute code" [style.font-size.px]="colSize / 14" [title]="product?.code">{{ product?.code }}</div>
</div>