<div [class.can-manage]="isAdmin" class="calendar-wrap">
    <calendar-toolbar   (onReload)="forceUIRefresh()" class="calendar-toolbar"
                        [canManage]="isAdmin"
                        [canClone]="canClone"
                        (onManageCalendar)="onManageCalendar()"
                        (onCreate)="onUpsertActivity()"
                        (onClone)="onCloneCalendar()"
                        css-var="calendar-toolbar-height:get:height"
    >
        <!--  Zoom control -->
        <commercial-calendar-zoom   [level]="zoomLevel"
                                    [min]="1"
                                    [max]="5"
                                    (onChange)="zoomChanged($event)"
                                    (onFullyOut)="zoomChanged(1, {fullyOut: true})"
        >
        </commercial-calendar-zoom>
    </calendar-toolbar>
    
    
    <div    [class.view-product-details]="zoomLevel >= 2" class="calendar-component row m-0 zoom-{{ zoomLevel }}"
            [class.styled-scrollbar]="showScrollbars"
    >
    
        <!--  Calendar Header (Sticky) -->
        <div class="calendar-header sticky">
    
            <div class="calendar-header-seasons d-flex" *ngIf="false">
                <div class="calendar-header-season horizontal-sticky col" *ngFor="let item of seasons;">{{ item }}</div>
            </div>
            <div class="calendar-header-months d-flex">
                <month-length   [year]="year"  *ngFor="let item of months; trackBy trackByIndex; index as monthIdx" class="calendar-header-month"
                                [month]="monthIdx + startAtMonth+1"
                                [style.zIndex]="monthIdx"
                                [startAtWeek]="startAtWeek+1"
                >
                    {{ item }}
                </month-length>
            </div>
    
            <div class="calendar-header-weeks d-flex">
                <ng-container *ngFor="let week of [].constructor(weeks); trackBy trackByIndex; index as weekIdx">
                    <ng-container *ngIf="weekIdx >= startAtWeek">
                        <div [style.min-width.px]="colSize"  class="calendar-header-week week-size-col col p-0">
                            {{ weekIdx+1 }}
                        </div>
                    </ng-container>
                </ng-container>
            </div>
    
            <div class="calendar-header-month-length d-flex">
                <month-length   [year]="year" *ngFor="let item of months; trackBy trackByIndex; index as monthIdx" class="d-block"
                                [month]="monthIdx + startAtMonth+1"
                                [startAtWeek]="startAtWeek+1"
                >
                </month-length>
            </div>
    
        </div>
    
    
        <!--  Calendar Body -->
        <div [class.dragging]="dragging" *ngIf="(calendarUiService.heights$|async) as heights" class="calendar-body row d-flex flex-nowrap">
    
            <!--  Vertical header (Sticky) -->
            <div [class.sticky]="stickyTypes" class="calendar-activities-header flex-with-gap" css-var="calendar-activities-header-width:get:width">
                <div    [style.height.px]="heights[type.id + ''] || colSize" *ngFor="let type of calendar?.types; trackBy trackByIndex; index as index" class="calendar-activity-header vertical-sticky"
                        [style.min-height.px]="colSize"
                >
                    <span>{{ type.name }}</span>
                </div>
            </div>
    
            <!-- Activities per Week -->
            <ng-container *ngFor="let week of [].constructor(weeks); index as weekIdx">
                <ng-container *ngIf="weekIdx >= startAtWeek">
                    <div [style.min-width.px]="colSize" class="calendar-activity-group week-size-col col p-0">
                        <div    class="calendar-placeholders flex-with-gap"
                        >
                            <ng-container   *ngFor="let type of calendar?.types; trackBy trackByIndex; index as typeIdx">
                                <ng-container *ngIf="(activities!|findxv2:[{key:'startWeek',value:weekIdx+1},{key:'activityTypeId',value:type.id}]:true) as items">
    
                                    <div    [class.empty]="!items.length" class="calendar-placeholder" #placeholder
                                            [class.has-activity]="items.length"
                                            [style.height.px]="heights[type.id + ''] || colSize"
                                            [style.min-height.px]="colSize"
                                            [attr.data-type-id]="type.id"
                                            [attr.data-week]="weekIdx+1"
                                            (drop)="onDrop($event, weekIdx+1, type, 'drop')"
                                            (dragover)="onDrop($event, weekIdx+1, type, 'dragover')"
                                    >
                                        <div *ngIf="items?.length;" class="calendar-activity-list">
                                            <commercial-calendar-activity   [activity]="item" class="calendar-activity activity-{{item.id}}" *ngFor="let item of items; trackBy trackByIndex" #items
                                                                            [id]="item.id"
                                                                            [overlapWith]="activities"
                                                                            [rowGap]="rowGap"
                                                                            [isAdmin]="isAdmin"
                                                                            [colSize]="colSize"
                                                                            [mediaSize]="type.data?.mediaSize??1"
                                                                            [style.width.px]="(item.endWeek - item.startWeek) * colSize"
                                                                            [style.min-width.px]="colSize"
                                                                            [style.min-height.px]="colSize"
                                                                            [attr.data-border-color]="item.color"
                                                                            [style.background-color]="item.fillColor"
                                                                            [class.custom-style]="item.fillColor?.length"
                                                                            [class.no-products]="!item.products?.length"
                                                                            [class.draggable]="true"
                                                                            [draggable]="true"
                                                                            (dragstart)="onDrag($event, item, 4)"
                                                                            (onClick)="onActivityClick($event)"
                                                                            (onEdit)="onUpsertActivity(item)"
                                                                            (onDelete)="onDeleteActivity(item)"
                                            >
                                            </commercial-calendar-activity>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    
    </div>
</div>
