.calendar-zoom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.zoom-control {
	position: relative;
	z-index: 1000;

	.btn {
		padding: 0;
		width: 3rem;
		line-height: 0;
		font-size: 2rem;
		aspect-ratio: 1;

		&,
		&:hover,
		&:focus {
			outline: none;
			border: none;
		}
	}
}

.zoom-points {
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	top: 50%;
	margin: 0 auto;
	z-index: -1;
	transform: translate3d(0, -50%, 0);

	> div {
		&:not(:last-child) {
			height: 1rem;
			border-right: 1px solid black;
		}
	}
}

label {
	display: none;
}