<div class="calendar-zoom">
    <!-- <button class="btn btn-outline-dark btn-sm mr-4" (click)="onFullyOut.emit()" title="Zoom fully out">
        <fa-icon icon="expand-wide"></fa-icon>
    </button> -->

    <!-- <button class="btn btn-outline-dark btn-sm" (click)="updateZoom(-1)" title="Zoom out">
        <fa-icon icon="magnifying-glass-minus"></fa-icon>
    </button> -->
    <!-- <kendo-slider   [showButtons]="false"
                    [min]="min"
                    [max]="max"
                    [smallStep]="1"
                    [(ngModel)]="zoomLevel"
                    (valueChange)="onChange.emit(zoomLevel)"
    >
    </kendo-slider> -->
    
    <!-- <button class="btn btn-outline-dark btn-sm" (click)="updateZoom(1)" title="Zoom in">
        <fa-icon icon="magnifying-glass-plus"></fa-icon>
    </button> -->
</div>