<div class="calendar-toolbar-wrap d-flex justify-content-between">

    <div>
        <ng-container *ngIf="canClone">
            <div class="d-inline-block mr-2">
                <button class="btn btn-outline-dark btn-sm" id="Clone calendar" (click)="onClone.emit()" title="Clone Calendar">
                    <!-- <fa-icon icon="clone"></fa-icon> -->Clone
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="canManage">
            <div class="d-inline-block mr-2">
                <button class="btn btn-outline-dark btn-sm" id="calendar-settings" (click)="onManageCalendar.emit()" title="Calendar Settings">
                    <!-- <fa-icon icon="cog"></fa-icon> -->Calendar
                </button>
            </div>
        </ng-container>

        <div class="d-inline-block mr-2">
            <button class="btn btn-outline-dark btn-sm" id="calendar-settings" (click)="onReload.emit()" title="Reload Activities">
                <!-- <fa-icon icon="rotate-right"></fa-icon> -->Reload
            </button>
        </div>

        <div class="d-inline-block mr-2 ml-4" *ngIf="canManage">
            <button class="btn btn-outline-dark btn-sm" id="calendar-add-activity" (click)="onCreate.emit()" title="Add Activity">
                Add
                <!-- <fa-icon icon="plus"></fa-icon> -->
            </button>
        </div>
    </div>

    <ng-content></ng-content>
</div>
