<div class="calendar-zoom" *ngIf="range">
    <button class="btn" title="Zoom out" (click)="updateValue(-1)">-</button>
    <div class="zoom-control col d-flex">
        <input type="range" id="range" name="calendar-zoom" class="w-100"   [formControl]="range" 
                                                                            [min]="min" 
                                                                            [max]="max"
        />
        <label for="calendar-zoom d-none">Zoom</label>
    </div>
    <button class="btn" title="Zoom in" (click)="updateValue(1)">+</button>
</div>