<p *ngIf="activity.tagline" class="activity-tagline">{{ activity.tagline }}</p>
<div *ngIf="activity.content" class="activity-content mb-3" [innerHTML]="activity.content|safe:'html'"></div>
<p class="activity-name">{{ activity.id }} {{ activity.name }}</p>


<div class="calendar-products row p-0 m-0">
    <calendar-product   *ngFor="let product of activity?.products;" class="calendar-product"
                        [product]="product"
                        [colSize]="colSize"
                        (onClick)="onClick.emit($event)"
    >
    </calendar-product>
</div>