/* You can add global styles to this file, and also import other style files */
@import "/node_modules/bootstrap/dist/css/bootstrap";

html.debug {
    * {
        box-shadow: 0 0 0 1px red;
    }
}



:root {
    --week-col-size: 5rem;
    --season-text-color: #dbdbdb;
}

.calendar-activity {
    &.custom-size {
        .activity-name {
            font-size: 1.2rem;
            text-align: center;
        }

        .activity-tagline,
        .activity-name {
            margin-bottom: .5rem;
        }

        .calendar-products {
            gap: 1rem;

            img {
                margin-bottom: 0.5rem;
            }
        }
    }

    &:not(.custom-size) {
        .activity-tagline,
        .activity-name {
            margin-bottom: .2rem;
        }
    }
}