/* You can add global styles to this file, and also import other style files */
@import "/node_modules/bootstrap/dist/css/bootstrap";

html.debug {
    * {
        box-shadow: 0 0 0 1px red;
    }
}


:root {
    --week-col-size: 5rem;
    --season-text-color: #dbdbdb;
    --calendar-activities-header: 112px;
}

.calendar-activity {
    &.custom-style {
        .calendar-products {
            gap: .5rem;

            img {
                margin-bottom: 0.5rem;
            }
        }
    }

    &.no-products {
        .activity-name {
            min-height: auto;
        }
    }
}

.calendar-placeholder {
    &.narrow {
        .activity-name {
            font-size: 1rem;
        }

        

        .calendar-products {
            img {
                margin: 0;
            }
        }
        
    }

    &:not(.narrow) {
        .activity-name {
            font-size: .7rem;
        }
    }
}

.calendar-component {
    &:not(.view-product-details) {
        .narrow {
            .product-attribute {
                display: none;
            }
        }
    }
}